{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container">
  <div class="card text-center mt-5">
    <div class="card-body">
    {% if user.is_authenticated %}
      <h1 class="text-center">
        Bienvenido {{ user.username }}!
      </h1>
      <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar Sesión</a>
    {% else %}
      <h1 class="text-center">
        Inicie Sesion
      </h1>
      <a class="btn btn-primary" href="{% url 'login' %}">Iniciar Sesión</a>
      <a class="btn btn-secondary" href="{% url 'signup' %}">Registro</a>
    {% endif %}
    {% endblock %}
    </div>
  </div>
</div>